body{
    background-color: #c5ebf7;
}
.heading{

    text-align: center;
    text-decoration: underline;
    color: rgb(3, 3, 22);
}
.row{
    width: 100%;
    height: 500px;
    background-color: rgb(149, 165, 165);
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.col{
    margin-top: 10px;
    width: 30%;
    height: 445px;
    
}
.row .col:nth-child(1){
    background-color: rgb(169, 160, 247);
    border: 2px solid;
}
.row .col:nth-child(2){
    background-color: rgb(245, 181, 145);
    border: 2px solid;
}
.row .col:nth-child(3){
    background-color: rgb(250, 184, 60);
    border: 2px solid;
}
.col img{
    width: 100%;
    height: 300px;
}
.col h3{
    text-align: center;
}