div{
  height: 69px;
  width: 50%;
  background-color: aqua;  
  border: 1px solid black;
  margin-bottom: 310px;
  margin-left: 332px;
  padding: 50px;
}

.header{
    
}

.footer{

}